.page-header {
    color: #00b76b;
    display:inline;

}

h1 {
    display:inline;
}
#nav {
    float:right;
}

.container {
    margin-top: 3%;
}

.form-group {
    overflow-y: scroll;
    height: 500px;
}

h2 {
    color: #00a4cc;
}

.panel-heading {
    background-color: #c2eed9;
}

.myButton {
    color: #fff;
    background-color:#00a4cc;
}

#upload {
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 10%;
}

#sharing {
    margin: 5%;
}

#twitter {
    background-color: #00aced;
    color: white;
}

#facebook {
    background-color:   #3b5998;
    color: white;
}
#notes {
        white-space: pre-wrap;
        width: 100%;
        overflow-x: hidden;
        overflow:overlay;
        overflow-wrap: break-word;
}

#notes-div {
}